<!DOCTYPE html>
<html lang="en"
        xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headAttributes"></th:block>
    <link th:rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>

    <h2 class="align-content-center"Go Get It></h2>


    <form class="mt-5" th:action="@{/gogetter}" th:object="${gogetter}" method ="post">
        <div class="container-fluid">
            <div class="row justify-content-center mb-3">
                <div class="col-10 col-md-3">
                    <input class="form-control" id="firstName" type="text"
                        th:field="*{firstName}" placeholder="First Name">
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-10 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('firstName')}"
                          th:errors="*{firstName}">
                    </span>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-10 col-md-3">
                    <input class="form-control" id="lastName" type="text"
                           th:field="*{lastName}" placeholder="Last Name">
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-10 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('lastName')}"
                          th:errors="*{lastName}">
                    </span>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-10 col-md-3">
                        <input class="form-control" id="schoolEmail" type="text"
                               th:field="*{schoolEmail}" placeholder="School Email">
                    </div>
                    <div class="row justify-content-center mb-3">
                        <div class="col-10 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('schoolEmail')}"
                          th:errors="*{schoolEmail}">
                    </span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 col-md-2">
                            <input class="btn btn-light" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

<div th:replace="fragments/base :: footer"></div>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>