<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headAttributes"></th:block>
    <title>Study Smart</title>
</head>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>
    <header class="Welcome">
        <div class="container text-center">Welcome</div>
    </header>

    <div class="modal" id="CancelModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"></h2>
                </div>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">I'm sure</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
            </div>
        </div>
    </div>

</body>

<div th:replace="fragments/base :: footer"></div>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>