<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headAttributes"></th:block>
    <title>Sign In</title>
</head>

<body>
<div th:replace="fragments/base :: navigation"></div>
<div th:replace="fragments/base :: header"></div>


<br><br>
<form th:action="@{/registration}" method="post">
    <div class="container-fluid">
        <div class="col-10 col-md-2">
            <input class="form-control" id="firstName" type="text" th:name="firstName"
                   placeholder="First Name" required/>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10 col-md-2">
            <input class="form-control" id="LastName" type="text" th:name="LastName"
                   placeholder="LastName" required/>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10 col-md-2">
            <input class="form-control" id="schoolEmail" type="text" th:name="SchoolEmail"
                   placeholder="School Email" required/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-md-2">
            <input type="submit" class="btn btn-dark" value="Sign In"/>
        </div>
    </div>

</form>

</body>
</html>